@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* INDEX CSS */
body{
    font-family: 'Bebas Neue', sans-serif;
    color: #c2ac08;
    background-color: #f4ff5f;
    background-image: url("../img/fondoAlemania.jpg");
	background-size: cover;
    height: 100vh;
    width: 100vw; 
}
#carouselExampleCaptions img{
    max-height:40rem;
    min-height:20rem;
}
#carouselExampleCaptions{
    z-index: 1;
}
#barra_navegacion{
    background-color: #f3db26;  
}
#menuDesplegable{
    background-color: #f4ff5f;
}
#menuDesplegable li a:hover{
    background-color: #f4ff5f;
    color: #91810c;
}

/* FOOTER */
.footer {
    background-color: #ffffff;
    padding: 30px ;
    color: #333;
    width: 100%;
  } 
  .footer a {
    color: #337ab7;
    text-decoration: none;
  } 
  .footer a:hover {
    color: #23527c;
  }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  .piePag {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
  }


/* TITULOS */
#titulosArte{
    color: #ffffff;
}

/* ESTILOS Y PERIODOS */
#estiloyPeriodos div img{
    height: 250px;
}

/* OBRAS EMBLEMATICAS */
#obrasEmblematicas{
    width: 96%;
    color: #ffca98;
}
#obrasEmblematicas div img{
    width: 40%;
}
#obrasEmblematicas div{
    border:#ffca98 solid 1px;
}
#obrasEmblematicas div h4{
    margin-top: 10%;
    color: #ffca98;
}
#obrasEmblematicas div p{
    margin-top: 10px;
    margin-block-end: 40px;
}

/* ARTISTAS */
#accordionPanelsStayOpenExample{
    background-color: #c7eb00;
    color: #91810c;
    width: 55%;
}
#accordionPanelsStayOpenExample div{
    background-color: #f4ff5f;

}
#accordionPanelsStayOpenExample #artista button{
    background-color: hsl(41, 89%, 82%);
    border: black 2px solid ;
}
#accordionPanelsStayOpenExample img{
    height: 150px;
    width: 60%;
}
@media only screen and (max-width: 768px){
    #accordionPanelsStayOpenExample{
        width: 90%;     
    }
}

